week3 정리본 복사

In [1]:
import pandas as pd

df = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

## 비어 있는 모든 값을 채우기

### Age

In [2]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].mean())

In [3]:
# df.loc[조건, 열] = 넣고싶은값

df.loc[df['Age']<10, 'Age'] = 0
df.loc[(df['Age'] >= 10) & (df['Age'] < 20), 'Age'] = 1
df.loc[(df['Age'] >= 20) & (df['Age'] < 30), 'Age'] = 2
df.loc[(df['Age'] >= 30) & (df['Age'] < 40), 'Age'] = 3
df.loc[(df['Age'] >= 40) & (df['Age'] < 50), 'Age'] = 4
df.loc[df['Age'] >= 50, 'Age'] = 5

# testset
df_test.loc[df_test['Age']<10, 'Age'] = 0
df_test.loc[(df_test['Age'] >= 10) & (df_test['Age'] < 20), 'Age'] = 1
df_test.loc[(df_test['Age'] >= 20) & (df_test['Age'] < 30), 'Age'] = 2
df_test.loc[(df_test['Age'] >= 30) & (df_test['Age'] < 40), 'Age'] = 3
df_test.loc[(df_test['Age'] >= 40) & (df_test['Age'] < 50), 'Age'] = 4
df_test.loc[df_test['Age'] >= 50, 'Age'] = 5

### FamilySize

In [4]:
df['FamilySize']  = df['SibSp'] + df['Parch']
df_test['FamilySize']  = df_test['SibSp'] + df_test['Parch']

### train, test

### Fare

In [5]:
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
df_test['Fare'] = df_test['Fare'].fillna(df_test['Fare'].mean())

### 빈칸 정보, 값 요약 정보 보기

In [6]:
#isnull
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
FamilySize       0
dtype: int64

In [7]:
# value_counts
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Embarked

In [8]:
df['Embarked'] = df['Embarked'].fillna('S')
df_test['Embarked'] = df_test['Embarked'].fillna('S')

## 문자를 숫자로 바꾸기

In [9]:
# df.loc[조건, 열] = 넣고싶은값

df.loc[df['Sex'] == 'male', 'Sex'] = 0
df.loc[df['Sex'] == 'female', 'Sex'] = 1

df_test.loc[df_test['Sex'] == 'male', 'Sex'] = 0
df_test.loc[df_test['Sex'] == 'female', 'Sex'] = 1

In [10]:
df.loc[df['Embarked'] == 'S', 'Embarked'] = 0
df.loc[df['Embarked'] == 'C', 'Embarked'] = 1
df.loc[df['Embarked'] == 'Q', 'Embarked'] = 2

df_test.loc[df_test['Embarked'] == 'S', 'Embarked'] = 0
df_test.loc[df_test['Embarked'] == 'C', 'Embarked'] = 1
df_test.loc[df_test['Embarked'] == 'Q', 'Embarked'] = 2

### train, test

In [11]:
train = df[['Survived', 'Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]
test = df_test[['Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]
train.head()

   Survived Sex  Age  FamilySize     Fare Embarked
0         0   0  2.0           1   7.2500        0
1         1   1  3.0           1  71.2833        1
2         1   1  2.0           0   7.9250        0
3         1   1  3.0           1  53.1000        0
4         0   0  3.0           0   8.0500        0

### Modeling - input data(x)와 target data(y)를 나눠주기

In [12]:
x_train = train[['Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]   # 여러개면 괄호 두개
y_train = train['Survived']

x_train

    Sex  Age  FamilySize     Fare Embarked
0     0  2.0           1   7.2500        0
1     1  3.0           1  71.2833        1
2     1  2.0           0   7.9250        0
3     1  3.0           1  53.1000        0
4     0  3.0           0   8.0500        0
..   ..  ...         ...      ...      ...
886   0  2.0           0  13.0000        0
887   1  1.0           0  30.0000        0
888   1  2.0           3  23.4500        0
889   0  2.0           0  30.0000        1
890   0  3.0           0   7.7500        2

[891 rows x 5 columns]

In [13]:
# tab 누르면 자동완성
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier() # 초기화
tree.fit(x_train, y_train) # 학습
tree.score(x_train, y_train) # 성능 확인

0.9450056116722784

### Prediction
tree.predict()

In [14]:
x_test = test[['Sex', 'Age', 'FamilySize', 'Fare', 'Embarked']]
x_test

    Sex  Age  FamilySize      Fare Embarked
0     0  3.0           0    7.8292        2
1     1  4.0           1    7.0000        0
2     0  5.0           0    9.6875        2
3     0  2.0           0    8.6625        0
4     1  2.0           2   12.2875        0
..   ..  ...         ...       ...      ...
413   0  3.0           0    8.0500        0
414   1  3.0           0  108.9000        1
415   0  3.0           0    7.2500        0
416   0  3.0           0    8.0500        0
417   0  3.0           2   22.3583        1

[418 rows x 5 columns]

In [24]:
prediction = tree.predict(x_test)
prediction

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

### csv 파일로 만들기

In [16]:
submit = pd.DataFrame({
    'PassengerId' : df_test['PassengerId'], 
    'Survived' : prediction
})

submit.to_csv('submit.csv', index = False)

In [17]:
my_prediction = pd.read_csv('submit.csv')
my_prediction.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

# <Week4 - stage1>

## Ensemble
#### 여러 머신러닝 모델을 연결하여 더 강력한 모델을 만드는 기법  
  
## Random Forest
#### 여러개의 Decision Tree를 만들고 연결하여 결과를 취합한 후 평균내어 성능을 높인 모델

In [18]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
tree.fit(x_train, y_train)

print('training set accuracy: ', tree.score(x_train, y_train))

training set accuracy:  0.9450056116722784

## Decision Tree를 Ensemble 해보기

### 1. 여러개의 Decision Tree 만들기

In [19]:
tree1 = DecisionTreeClassifier()
tree1.fit(x_train, y_train)

print('training set accuracy: ', tree1.score(x_train, y_train))

training set accuracy:  0.9450056116722784

In [20]:
tree2 = DecisionTreeClassifier()
tree2.fit(x_train, y_train)

print('training set accuracy: ', tree2.score(x_train, y_train))

training set accuracy:  0.9450056116722784

In [21]:
tree3 = DecisionTreeClassifier()
tree3.fit(x_train, y_train)

print('training set accuracy: ', tree3.score(x_train, y_train))

training set accuracy:  0.9450056116722784

### Data Set
training set: 모델의 학습에 사용되는 데이터   
test set: 모델의 최종 성능을 평가하기 위한 데이터  
validation set: 모델 제작 과정 중, 학습된 모델의 성능을 측정하기 위한 데이터

In [22]:
# 앞 쪽 100개만 validation set으로 지정하기
x_valid = x_train[0:100]
y_valid = y_train[0:100]

# 앞 100개 데이터를 제외한 남은 부분을 다시 trainset으로 재정의
x_train = x_train[100:]
y_train = y_train[100:]

In [23]:
# 100개의 데이터를 제외한 x_train, y_train를 다시 훈련시켜줍니다.
tree1 = DecisionTreeClassifier()
tree1.fit(x_train, y_train)

print('training set accuracy: ', tree1.score(x_train, y_train))
print('validation set accuracy: ', tree1.score(x_valid, y_valid))

tree2 = DecisionTreeClassifier()
tree2.fit(x_train, y_train)

print('training set accuracy: ', tree2.score(x_train, y_train))
print('validation set accuracy: ', tree2.score(x_valid, y_valid))

tree3 = DecisionTreeClassifier()
tree3.fit(x_train, y_train)

print('training set accuracy: ', tree3.score(x_train, y_train))
print('validation set accuracy: ', tree3.score(x_valid, y_valid))

training set accuracy:  0.9443742098609356
validation set accuracy:  0.78
training set accuracy:  0.9443742098609356
validation set accuracy:  0.78
training set accuracy:  0.9443742098609356
validation set accuracy:  0.78

### 2. 여러개의 Decision Tree를 Ensemble 해보기(자율1)

In [25]:
prediction1 = tree1.predict(test)
prediction2 = tree2.predict(test)
prediction3 = tree3.predict(test)

ensemble = (prediction1 + prediction2 + prediction3) / 3
ensemble[ensemble > 0.5] = 1
ensemble[ensemble <= 0.5] = 0

# 평균을 내는 작업으로 인해 survived 데이터가 1,0에서 소수형태로 바뀜
# 생존여부는 1,0으로 표시해야 하므로 다시 정수 형태로 변환
ensemble = ensemble.astype(int)

ensemble

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1])

In [26]:
submit = pd.DataFrame({
    'PassengerId': df_test['PassengerId'],
    'Survived': ensemble
})

submit.to_csv('submit_ensemble.csv', index=False)